/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.about-us-container {
  margin: auto;
}

/* Hero section */
.hero-banner {
  position: relative;
  overflow: hidden;
}

.hero-gif {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.hero-title {
  font-size: 36px;
  margin-bottom: 20px;
}

/* Mission, Vision, Service sections */
.mission-section,
.vision-section,
.service-section {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mission-item,
.vision-item,
.service-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}

.mission-image,
.vision-image,
.service-image {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 20px;
}

.mission-text,
.vision-text,
.service-text {
  flex-grow: 1;
}

.mission-text h2,
.vision-text h2,
.service-text h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Contact section */
.contact-section {
  margin-top: 40px;
  text-align: center;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

textarea {
  resize: vertical;
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #0056b3;
}

.recaptcha-container {
  margin-bottom: 20px; /* Adjust as needed */
}

/* Responsive design */
@media (max-width: 768px) {
  .hero-title {
    font-size: 24px;
  }

  .mission-image,
  .vision-image,
  .service-image {
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .mission-text,
  .vision-text,
  .service-text {
    text-align: center;
  }
}
