.about{
    margin: 20px 0;
    overflow-x: hidden;
    background: linear-gradient(to right, #FFC727 30%, transparent 30%);
    border-top-right-radius: 20rem;
}
.about-site-img{
    display: none;
}
.about-container{
    margin: 2% 8%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 50%));
}
.about-img-container{
    width: 100%;
}
.about-image{
    width: 95%;
}
.about-text-container{
    width: 100%;
}
.about-headings{
    width: 100%;
    margin-top: 7rem;
}
.about-title{
    font-size: 1rem;
    color: var(#FFC727);
    margin-bottom: -2rem;
}
.about-main-heading{
    font-size: 3rem;
    color: var(#222020);
}
.about-sub-heading{
    font-size: var(#625f5f);
    margin-bottom: 0;
    margin-right: 8rem;
}
.about-btns{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    gap: 1rem;
}